{
	"mobile-url": "https://www.eyez-on.com/EZMOBILE/index.php",
	"mid": "abcdefghijklmnopqrstuvwxyz01234567890000",
	"did": "000000000000",
	"partition": "1",
	"ignore": ["instantarm", "maxarm", "bypass", "togglechime", "test",     "code"]
}
